@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.atas{
    position: relative;
    widows: 100%;
    min-height: 100vh;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.atas:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff2562;
    clip-path: circle(22.7% at 75% 59%);
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
.atas .content{
    position: relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
.atas .content h2{
    color: #ffffff;
    font-size: 3em;
    font-weight: 800;
}
.atas .content p{
    color: #ffffff;
    font-size: 1.2em;
}
.atas .content a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #ff2562;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700;
    letter-spacing: 2px;
}
.atas .imgBx{
    position: relative;
    padding-right: 100px;
}
.atas .imgBx img{
    max-width: 500px;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 2s;
    opacity: 0;
}
.nav{
    position: absolute;
    top: 75px;
    left: 150px;
    display: flex;
    border-left: 5px solid #ff2562;
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}
.nav li a.active,
.nav a:hover{
    color: #ff2562;
}
.clear{
    clear: both;
}
.tengah{
    min-height: 300vh;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
}
.tengah h2{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    margin: 50px 0;
}
.tengah .contents{
    padding: 10px 50px 100px 150px;
    box-sizing: border-box;;
}
.tengah .contents .card{
    width: 33%;
    float: left;
}
.tengah .contents .card .card-body{
    background: #ffffff;
    margin: 0 5px;
}
.tengah .contents .card .card-body img{
    width: 100%;
    height: 100%;
}
.tengah .contents .card .card-body .text{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #86a012;
}
.tengah .contents .card .card-body .texts{
    text-align: center;
    font-size: 14px;
}
.tengah .contents .cards{
    float: left;
    width: 50%;
}
.tengah .contents .cards .card-body img{
    padding: 10px;
    width: 98%;
    height: 280px;
}
.tengah .contents .cards .card-body p#text{
    text-align: justify;
    font-size: 20px;
    color: #ffffff;
}
.tengah .contents .port{
    width: 33%;
    float: left;
}
.tengah .contents .port .port-body{
    margin: 0 5px;
    position: relative;
}
.tengah .contents .port .port-body img{
    width: 70%;
    height: 250px;
    border-radius: 50%;
}
.tengah .contents .port .port-body a{
    position: absolute;
    width: 70%;
    height: 250px;
    top: 0;
    left: 0;
    font-size: 1.5em;
    background: rgba(253, 250, 250, 0.653);
    line-height: 255px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    transition: 1s;
    text-decoration: none;
}
.tengah .contents .port .port-body:hover a{
    opacity: 1;
}
.tengah .contents .client .client-body{
    display: flex;
    background: #5f5a5abd;
}
.tengah .contents .client .client-body img{
    width: 400px;
    height: 150px;
    margin-left: 20%;
    margin-top: -20px;
}
.tengah .contents .client .client-body p{
    color: #ffffff;
    font-size: 1.2em;
    line-height: 200px;
    padding: 0 20px;
}
.tengah .contents form #form{
    margin: 0 25%;
}
.tengah .contents form #form .form-group{
    width: 500px;
    margin: 10px 0;
    position: relative;
}
.tengah .contents form #form .form-group input{
    width: 100%;
    padding: 10px 50px;
    border: 0px solid #22222247;
    border-radius: 20px;
}
.tengah .contents form #form .form-group img{
    width: 40px;
    height: 35px;
    padding: 1px 0px;
    position: absolute;
    top: 0; left: 4px;
    border-radius: 10px 0px 0px 10px;
}
.tengah .contents form #form .form-group textarea{
    width: 100%;
    padding: 10px 50px;
    border: 0px solid #13010147;
    border-radius: 20px;
}
.footer{
    padding: 50px;
    background: #0e0404;
    height: 250px;
    color: #ffffff;
}
.footer h4{
    font-size: 30px;
}
.footer p a{
    color: #ffffff;
}
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes left-in{
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(-0px);
        opacity: 1;
    }
}
@media (max-width: 991px)
{
    .menuicon{
        position: fixed;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .menuicon.active{
        background: url(images/images.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .95);
        flex-direction: column;
        z-index: 11;
        border: none;
        padding: 50px;
    }
    .nav.active{
        left: 0;
    }
    .nav li{
        margin: 5px 0;
    }
    .atas{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .atas:before{
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0 46%);
    }
    .atas .content{
        padding: 50px;
        margin-bottom: 30px;
    }
    .atas .content h2{
        font-size: 1.5em;
    }
    .atas .content p{
        font-size: 0.9em;
    }
    .atas .imgBx{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: 20px;
    }
    .atas .imgBx img{
        max-width: 300px;
    }
    .tengah .contents{
        padding: 10px;
    }
    .tengah h2{
        font-size: 20px;
    }
    .tengah .contents .card{
        width: 50% !important;
        margin-bottom: 5px;
    }
    .tengah .contents .card .card-body{
        height: 220px !important;
    }
    .tengah .contents .card .card-body img{
        height: 100px !important;
    }
    .tengah .contents .card .card-body .text{
        font-size: 16px;
    }
    #text{
        font-size: 11px !important;
        text-align: start !important;
    }
    .tengah .contents .port{
        width: 100%;
    }
    .tengah .contents .port .port-body{
        text-align: center;
    }
    .tengah .contents .port .port-body img{
        margin-bottom: 20px;
    }
    .tengah .contents .port .port-body a{
        left: 55px;
        text-align: center;
    }
    .tengah .contents .client .client-body{
        height: 100px;
    }
    .tengah .contents .client .client-body img{
        width: 135px;
        height: 80px;
        margin: 0;
    }
    .tengah .contents .client .client-body p{
        line-height: 100px;
        font-size: 10px;
    }
    .tengah .contents form #form{
        margin: 0 10%;
    }
    .tengah .contents form #form .form-group input{
        width: 53%;
    }
    .tengah .contents form #form .form-group textarea{
        width: 53%;
    }
}
